In [1]:
import pandas, json, pathlib

pandas.options.display.max_columns=999

import gpas_uploader

%load_ext autoreload
%autoreload 2

In [ ]:
upload_csv = gpas_uploader.Batch('/Users/fowler/packages/gpas-uploader/tests/files/nanopore-bam-upload-csv-fail-1.csv',\
                                 run_parallel=True,\
                                 environment='development',\
                                 tags_file='tests/files/tags.txt',\
                                 token_file='/Users/fowler/Dropbox/focus/gpas/api-calls/token.json')

In [78]:
upload_csv = gpas_uploader.Batch('/Users/fowler/packages/gpas-uploader/tests/files/nanopore-bam-upload-csv-fail-1.csv',\
                                 run_parallel=True,\
                                 tags_file='tests/files/tags.txt')

In [79]:
upload_csv.validate()

  sample_name                                      error_message
7        None  specified regions are not valid ISO-3166-2 reg...
0     sample1   batch can only contain characters (A-Za-z0-9._-)
1     sample1  neg in the control field is not valid: field m...
2     sample1            collection_date cannot be in the future
3     sample1         Finistere is not a valid ISO-3166-2 region
4     sample1            host can only contain the keyword human
5     sample1  specimen_organism can only contain the keyword...
6     sample1    primer_scheme can only contain the keyword auto

In [80]:
upload_csv.df

,sample_name,batch,run_number,control,collection_date,tags,country,region,district,specimen_organism,host,instrument_platform,primer_scheme,fastq,tags_ok
0,sample1,run 1,run1.1,neg,2122-02-01,site0:repeat:special_project,USA,Finistere,1124,Covid,Homo sapiens,Nanopore,ARTICv4.1,unpaired1.fastq.gz,False

In [73]:
upload_csv.valid #, upload_csv.sequencing_platform, upload_csv.uploaded_on, upload_csv.user_name, upload_csv.user_organisation

True

In [74]:
upload_csv.validation_errors

Empty DataFrame
Columns: [error_message]
Index: []

In [75]:
upload_csv.decontaminate()

0 sample_name                                                sample5
error_message    /tmp/sample5.reads.fastq.gz is too small (< 10...
Name: 0, dtype: object

In [76]:
upload_csv.decontamination_errors

  sample_name                                      error_message
0     sample5  /tmp/sample5.reads.fastq.gz is too small (< 10...

In [77]:
upload_csv.df

,sample_name,batch,run_number,fastq,control,collection_date,tags,country,region,district,specimen_organism,host,instrument_platform,primer_scheme,tags_ok,r_uri,r_md5,r_sha,gpas_batch,gpas_sample_name,gpas_run_number
0,sample1,run1,run1.1,unpaired1.fastq.gz,negative,2022-02-01,site0:repeat,USA,Texas,1124,SARS-CoV-2,human,Illumina,auto,True,/tmp/deabe51e-01eb-49cb-a04f-b5ee06a5798e.read...,467c645b8285270f9ddcee4b0fa2f7ae,a2dd4d2459b1356db1d89219cb405a9ed80694974d19c8...,B-4D2TJVC,deabe51e-01eb-49cb-a04f-b5ee06a5798e,1
1,sample5,run1,run1.2,unpaired3.fastq.gz,positive,2022-03-08,site0,GBR,Oxfordshire,,SARS-CoV-2,human,Illumina,auto,True,/tmp/e96df5cf-5361-4fe2-9073-588246268442.read...,16db6212ae61a24b1a9921bdd7c58c1f,abfbb86f9f5ddfbd9fc1a72c43ab384702ce8bae86b60f...,B-4D2TJVC,e96df5cf-5361-4fe2-9073-588246268442,2

In [ ]:
a = gpas_uploader.Batch('tests/files/nanopore-bam-upload-csv-pass-1.csv')

In [ ]:
a.validate()

In [19]:
upload_csv.decontamination_json

{'submission': {'status': 'failure',
  'samples': [{'sample': '1487fd53-12f0-4de8-b3cd-cf5f9c466d24',
    'error': '/tmp/sample5.reads.fastq.gz is too small (< 100 bytes)'}]}}

In [ ]:
upload_csv.permitted_tags

In [ ]:
upload_csv.submit()

In [ ]:
upload_csv.df

In [ ]:
upload_csv.valid

In [ ]:
upload_csv.validation_errors

In [ ]:
upload_csv.validation_json

In [ ]:
upload_csv.decontaminate()

In [ ]:
upload_csv.df

In [ ]:
upload_csv.decontamination_json

In [ ]:
print(None and None)

In [ ]:
print('a' and 'b')

In [ ]:

a = 'f'
b = 'None'

print(a is not None and b is not None)

In [ ]:
upload_csv.df

In [ ]:
list(upload_csv.df.r1_md5)

In [ ]:
import re

In [ ]:
# if re.match("^[A-Za-z0-9-_.]+$", "filenameeé.csv"):
if re.match("^[\w_.]+$", "filenameeé.csv"):
    print(True)
else:
    print(False)